<h4>Single question</h4>

<%= simple_form_for [@survey, @question] do |f| %>
  <%= f.input :label %>
  <%= f.input :kind, as: :hidden, input_html: {value: params[:question_type]} %>
  <%= f.button :submit %>
<% end %>
