<h4 class="text-center">Single question</h4>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= simple_form_for [@survey, @question] do |f| %>
      <%= f.input :label %>
      <%= f.input :kind, as: :hidden, input_html: {value: params[:question_type]} %>
    <div class="text-center"><%= f.button :submit %></div>
    <% end %>
    </div>
  </div>
</div>
