<div id="owl-example" class="owl-carousel">

  <% @questions.each do |question| %>
    <div>
      <h4><%= question.label %></h4>

      <% question.iterations.each do |iteration| %>
        <% answer = iteration.answers.new %>
        <% item_answer = ItemAnswer.new %>

        <%= simple_form_for [question, iteration, item_answer] do |f| %>
          <%= f.association :item, as: :check_boxes, collection: question.items(order: 'rank'), label_method: :label, label: false, include_hidden: false %>
          <%= f.button :submit, "Suivant", remote: true, class: "btn btn-primary owl-next"  %>
        <% end %>
        <a href="" class="btn btn-primary owl-next"></a>
      <% end %>
    </div>
  <% end %>
</div>
