<ol class="breadcrumb">
  <li>
    <%= link_to "Périmètre", "#new-survey", class: "bc", "data-target" => "#new-survey" %>
  </li>
  <li>
    <%= link_to "Questionnaire", "#show-survey", class: "bc active", "data-target" => "#show-survey" %>
  </li>
  <li>
    <%= link_to "Confirmer l'étude", "#confirm-survey", class: "bc", "data-target" => "#confirm-survey" %>
  </li>
</ol>
