<ul>
  <% @surveys.each do |survey| %>
    <li>
      <% if policy(survey).show? %>
        <%= link_to survey.title, survey %>
      <% end %>
      <% if policy(survey).update? %>
        <%= link_to "Edit", edit_survey_path(survey) %>
      <% end %>
      <% if policy(survey).destroy? %>
        <%= link_to "Destroy", survey, method: :delete, data: { confirm: "Are you sure ?" } %>
      <% end %>
    </li>
  <% end %>
</ul>
<% if policy(Survey).create? %>
  <%= link_to "New survey", new_survey_path %>
<% end %>
