<div class="row">
<h3><%= @survey.title %></h3>
</div>
<%= render "questions/index", survey: @survey %>
<button class="preview-open btn btn-primary" data-toggle="modal" data-target="#preview-open">Prévisualiser l'étude</button>


<div class="modal fade" tabindex="-1" role="dialog" id="preview-open">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= @survey.title %></h4>
      </div>
      <div class="modal-body">

        <%= render 'preview', survey: @survey %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->






