<li>
  <% if policy(item).show? %>
    <%= "(#{item.rank}) #{item.label}" %>
  <% end %>
</li>
<li>
  <% if policy(item).update? %>
    <%= link_to "Edit", edit_question_item_path(question, item) %>
  <% end %>
  <% if policy(item).destroy? %>
    <%= link_to "Destroy", question_item_path(question, item), method: :delete, data: { confirm: "Are you sure ?" } %>
  <% end %>
</li>
